<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Formulario</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"><h1>Login</h1></div>
        </div>

        <div class="row">
            <div class="col">
                <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Ingrese su email">
                </div>
                <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña">
                </div>
                <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>